{% block content %}


    <h1 style="text-align:center">Простои линии 2</h1>


    {% if not user.username == 'master' and not user.username == 'admin' %}
        <div class="col__wrapper"
             style=" display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;  margin-top: 1rem;">
            <div class="col" style="width: calc((100% - 30px) / 2); outline: 2px solid #000; ">
                <canvas id="Chart2"></canvas>
            </div>
            <ul class="col__list">
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Средняя производительность линии</li>
                        <li id="avgSpeeds2"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ avgSpeed }}</li>
                    </ul>
                </li>
                <li class="col__item">
                    <ul>
                        <li style="text-align: center;font-size:23px">Количество продукции</li>
                        <li id="sumProduct2"
                            style="text-align: center; font-size:70px; list-style-type: none;">{{ productionOutput2 }}</li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Общее время простоя</li>
                        <li id="sumProstoy2" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>
                <li class="col__item">
                    <ul>
                        <li style="list-style-type: none; font-size:23px">Процент выполнения</li>
                        <li id="allProc2" style="text-align: center; font-size:70px; list-style-type: none;"></li>
                    </ul>

            </ul>
        </div>
    {% endif %}


    <script>//ajax для перезагрузки графика
    $(document).ready(function () {
        var ctx2 = document.getElementById("Chart2").getContext("2d");
        var config2;
        var chart2 = [];
        $.ajax({
            url: 'getData2',
            method: 'post',
            success: function (data) {

                $('#avgSpeeds2').html(data.avgSpeed2);
                $('#allProc2').html(data.allProc2);
                $('#sumProduct2').html(data.sumProduct2);
                $('#sumProstoy2').html(data.sumProstoy2);
                config2 = {
                    type: 'bar',
                    data: {
                        borderColor: 'rgb(0,100,255)',
                        labels: data.lableChart2,
                        datasets: [{
                            label: '# Производительность линии 2',
                            data: data.dataChart2,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        {#animation: false,#}
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };
                chart2 = new Chart(ctx2, config2);
                dataUpdater();


            }
        });
        setInterval(function () {

            $.ajax({
                url: 'getData2',
                method: 'post',
                success: function (data) {

                    $('#avgSpeeds2').html(data.avgSpeed2);
                    $('#allProc2').html(data.allProc2);
                    $('#sumProstoy2').html(data.sumProstoy2);
                    $('#sumProduct2').html(data.sumProduct2);
                    dataUpdater();
                }
            });

        }, 3000);


        function dataUpdater() {
            $.ajax({
                type: "post",
                url: 'getData2',
            }).done(function (newData) {
                chart2.data.labels = newData.lableChart2;
                chart2.data.datasets[0].data = newData.dataChart2;
                chart2.update();
            });

        }
    });
    </script>

    <script>

        $(document).ready(function () {
            var item_num2 = $(this).attr('id');
            update_item(item_num2)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num2 = $(this).attr('id');
                    update_item(item_num2);

                }

            }, 2000);

            function update_item(item_num2) {
                $('#sample_data2 tbody').load(
                    "{% url 'update_items2' %}?item_num2=" + item_num2
                );


            }


        });


    </script>

{% endblock %}