<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
            integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
            integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet">




    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
            integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>

{% if request.user.is_authenticated and request.user.is_staff %}
    <script> // зависимости выпадающих списков таблици
    $(document).ready(function () {
        var sor = [];
        let allProstoy
        var test =
        {{ prich|safe }}
        var temp = '%'
        $(function () {


            $('#sample_data').mousemove(function () {
                $('td.otv_pod', this).mousedown(function () {

                    temp = '';
                    for (let i = 0; i < test.length; i++) {
                        if ($(this).text() === test[i].key) {
                            temp += test[i].prichina + '%'
                        }
                    }
                    allProstoy = temp.split('%')
                    sor = [];
                    for (let n = 0; n < allProstoy.length; n++) {
                        if (allProstoy[n] !== '') {
                            sor.push({value: allProstoy[n], text: allProstoy[n]})
                        }
                    }
                })
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });
        });

        var dataTable = $('#sample_data').DataTable();

        $('#sample_data').editable({
            container: 'body',
            selector: 'td.uchastok',
            url: '/update',
            title: 'uchastok',
            type: 'POST',
            value: "Не выбрано",
            source:
                [
                    {% for el in uch %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}],
            validate: function (value) {
                if ($.trim(value) == '') {
                    return 'This field is required';
                }
            }
        });

        $('#sample_data').editable({
            container: 'body',
            selector: 'td.otv_pod',
            url: '/update',
            title: 'otv_pod',
            type: 'POST',
            source: [
                {% for el in otv_p %}
                    {value: "{{ el }}", text: "{{ el }}"},
                {% endfor %}
            ],
            validate: function (value) {
                if ($.trim(value)) {
                    temp = '%'
                    for (let i = 0; i < test.length; i++) {
                        if (value === test[i].key) {
                            temp += test[i].prichina + '%'
                        }
                    }
                    allProstoy = temp.split('%')
                    sor = [];
                    for (let n = 0; n < allProstoy.length; n++) {
                        if (allProstoy[n] !== '') {
                            sor.push({value: allProstoy[n], text: allProstoy[n]})
                        }
                    }
                }
            }
        });

        $('#sample_data').editable({
            container: 'body',
            selector: 'td.comment',
            url: '/update',
            title: 'comment',
            type: 'POST',
            value: "Не выбрано",

            validate: function (value) {
                if ($.trim(value) == '') {
                    return 'This field is required';
                }
            }
        });
    });
    </script>
{% endif %}


<footer class="not-print">
    <ul class="ul-bar" >
        <li>
            <h4><a href="{% url 'home' %}">Главная</a></h4>
        </li>
        <li>
            <h4><a href="{% url 'otchet' %}">Отчет</a></h4>
        </li>
        <li>
            <h4><a href="{% url 'profile' %}">Войти</a></h4>
        </li>


    </ul>

</footer>

{% block content %}
{% endblock %}
</body>
<style>
    .table table-bordered table-striped {
        width: calc((100%));
        outline: 2px solid #000;
        margin-top: 20px;

    }
    ul {
        list-style: none;
        padding: 0;
    }
    .ul-bar{
       margin: 0;
        display: flex;
    }
    .ul-bar li {
        padding: 5px;
    }
    .ul-bar > li:last-child
    {
    right:5%;
    position:absolute
   }



</style>

</html>