{% extends 'base.html' %}
{% block content %}

    {% if user.username == 'operator5' %}
        {% include 'Line5/line5.html' %}
    {% endif %}

    {% if user.username == 'operator2' %}
        {% include 'Line2/line2.html' %}
    {% endif %}

    {% if user.username == 'master' or user.username == 'admin' %}
        {% include 'master.html' %}
    {% endif %}


    {% if not user.is_authenticated %}
        {% include 'Line5/Chart5.html' %}
        {% include 'Line2/Chart2.html' %}
    {% endif %}


{% endblock %}


</style>