{% block content %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator2' %}
        <script> // зависимости выпадающих списков таблицы
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data2').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });

            var dataTable2 = $('#sample_data2').DataTable();

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update2',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update2',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update2',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });

            $('#sample_data2').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update2',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });


        </script>
    {% endif %}
    {% if user.username == 'master' or user.username == 'admin' or user.username == 'operator5' %}
        <script> // зависимости выпадающих списков таблици
        $(document).ready(function () {
            var sor = [];
            let allProstoy
            var test =
            {{ prich|safe }}
            var temp = '%'
            $(function () {
                $('#sample_data').mousemove(function () {
                    $('td.otv_pod', this).mousedown(function () {

                        temp = '';
                        for (let i = 0; i < test.length; i++) {
                            if ($(this).text() === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    })
                });

            });

            var dataTable = $('#sample_data').DataTable();

            $('#sample_data').editable({
                container: 'body',
                selector: 'td.uchastok',
                url: '/update',
                title: 'uchastok',
                type: 'POST',
                value: "Не выбрано",
                source:
                    [
                        {% for el in uch %}
                            {value: "{{ el }}", text: "{{ el }}"},
                        {% endfor %}],
                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });

            $('#sample_data').editable({
                container: 'body',
                selector: 'td.otv_pod',
                url: '/update',
                title: 'otv_pod',
                type: 'POST',
                source: [
                    {% for el in otv_p %}
                        {value: "{{ el }}", text: "{{ el }}"},
                    {% endfor %}
                ],
                validate: function (value) {
                    if ($.trim(value)) {
                        temp = '%'
                        for (let i = 0; i < test.length; i++) {
                            if (value === test[i].key) {
                                temp += test[i].prichina + '%'
                            }
                        }
                        allProstoy = temp.split('%')
                        sor = [];
                        for (let n = 0; n < allProstoy.length; n++) {
                            if (allProstoy[n] !== '') {
                                sor.push({value: allProstoy[n], text: allProstoy[n]})
                            }
                        }
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.prichina',
                url: '/update',
                title: 'prichina',
                type: 'POST',
                value: "Не выбрано",
                source:
                    function () {
                        return sor
                    },
                validate: function (value) {
                    if ($.trim(value)) {
                    }
                }
            });
            $('#sample_data').editable({
                container: 'body',
                selector: 'td.comment',
                url: '/update',
                title: 'comment',
                type: 'POST',
                value: "",

                validate: function (value) {
                    if ($.trim(value) == '') {
                        return 'This field is required';
                    }
                }
            });
        });
        </script>
    {% endif %}

    <script>

        $(document).ready(function () {
            var item_num2 = $(this).attr('id');
            update_item(item_num2)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num2 = $(this).attr('id');
                    update_item(item_num2);

                }

            }, 2000);

            function update_item(item_num2) {
                $('#sample_data2 tbody').load(
                    "{% url 'update_items2' %}?item_num2=" + item_num2
                );


            }


        });


    </script>

    <script>

        $(document).ready(function () {
            var item_num5 = $(this).attr('id');
            update_item(item_num5)
            setInterval(function () {
                if (!$(".popover-title").is(':visible')) {
                    item_num5 = $(this).attr('id');
                    update_item(item_num5);

                }

            }, 2000);

            function update_item(item_num5) {
                $('#sample_data tbody').load(
                    "{% url 'update_items5' %}?item_num5=" + item_num5
                );


            }


        });


    </script>



    {% include 'line5.html' %}

        {% include 'line2.html' %}





{% endblock %}